@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Josefin+Sans:wght@100&family=Rambla&display=swap");
@import url("http://fonts.cdnfonts.com/css/kuiper-belt");
html {
  scroll-behavior: smooth;
  overflow-x: hidden !important;
  cursor: none;
}
body {
  color: #283655 !important;
  background-color: #f7faff !important;
  font-family: "Rambla", sans-serif;
}
h2,
h3 {
  font-family: "Kuiper Belt", sans-serif;

  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-shadow: -1px -1px 1px #283655;
}
li {
  list-style-type: none;
}
/* CURSOR */
.inner-cursor,
.outer-cursor {
  mix-blend-mode: difference;
  position: absolute;
  transition: 0s !important;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1000000;
  pointer-events: none;
}
.inner-cursor {
  width: 10px;
  height: 10px;
  background: #283655;
}
.outer-cursor {
  width: 30px;
  height: 30px;
  background: red;
}
/* HIDDEN ES/EN */
.hidden {
  display: none;
}
