/* HEADER */

/* BURGER */
.burger,
.burger-menu {
  display: none;
}
.burger {
  mix-blend-mode: difference;
}
.burger,
.burger::before,
.burger::after {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 7px;
  background: #cfc4aa;
  transition: 0.5s ease;
  z-index: 10001;
}
.burger::before,
.burger::after {
  content: "";
  position: absolute;
  right: 0px;
}
.burger::before {
  top: 10px;
}
.burger::after {
  top: 20px;
}
/* ANCIEN : BURGER CONTENT */
/*
.burger-menu {
  z-index: 10000;
  position: fixed;
  right: 0;
  top: 0;
  opacity: 0;
  transition: 0.5s ease;
  transform: translateY(-400px);
}
.burger-menu a {
  font-size: 2rem;
  color: #cfc4aa;
}
.show-menu {
  opacity: 1;
  transform: translateY(0px);
}
.burger-close {
  transform: translateX(-50px);
} */

/* REPLACEMENT WITH MODAL WINDOW */

.burger-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
  display: none;
}
.burger-container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: lightgray center/cover no-repeat;
  opacity: 0.5;
}
.burger-menu {
  z-index: 100001;
}
.burger-menu li a {
  text-transform: uppercase;
  line-height: 3rem;
  font-weight: bolder;
  padding: 20px;
}
.burger-menu li a:hover {
  transition: 0.2s ease;
  text-decoration: none;
  font-size: 2rem;
  color: #283655;
  filter: brightness(1.75);
}
/* NAVBAR */
.navbar {
  background-color: #fafafa;
  opacity: 0.9;
  height: 42px;
  transition: 0.7s;
}
.navbar-nav {
  width: 80% !important;
  margin: 0 auto;
  justify-content: space-between;
}
header {
  text-align: center;
  height: 100vh;
  background: url("../media/header.jpg") no-repeat fixed 50% 50%;
  background-size: cover;
}
h1 {
  padding: 90px 0 10px 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 4em;
  text-transform: uppercase;
}
#line {
  height: 1px;
  background-color: #b3aca7;
  width: 25%;
  margin: 0 auto;
}
h2 {
  padding: 20px 0 50px 0;
  font-size: 3em;
  text-transform: uppercase;
}
.presentation {
  height: 240px;
  margin-top: 20px;
}
.infos {
  border: 1px solid #b3aca7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
}
.photo {
  border: 1px solid #b3aca7;
  position: relative;
}
.photo img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: auto;
  max-width: 90%;
  border-radius: 3px;
  box-shadow: 0 0 4px #111;
}
header .button {
  margin-top: 45px;
}
header .button a {
  padding: 20px 80px;
  border: 1px solid #b3aca7;
  width: 300px;
}
header .button:hover a {
  background: #b3aca7;
  color: #e2dedb;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
h5 a {
  color: #283655;
}
/* END OF HEADER */
