/* PORTFOLIO */
#portfolio {
  margin: 100px 2% 0 2%;
  padding: 40px 10px 60px 40px;
  background-color: rgba(179, 172, 167, 0.08);
  box-shadow: 0px 0px 1px #a8a8a9;
  /* height: 60vh; */
  /* overflow: scroll; */
}
/* width */
#portfolio::-webkit-scrollbar {
  width: 12px;
}
/* Track */
#portfolio::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
#portfolio::-webkit-scrollbar-thumb {
  background: rgb(180, 98, 98);
  width: 10px;
  border-radius: 10px;
}

/* Handle on hover */
#portfolio::-webkit-scrollbar-thumb:hover {
  background: #000;
}
#portfolio h3,
#parcours h3,
#formation h3,
#hobbies h3 {
  font-size: 3em;
  padding-bottom: 15px;
}
#portfolio h4,
#parcours h4,
#formation h4 {
  font-size: 1.5em;
  color: rgb(180, 98, 98);
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: -2px;
}
.projet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* .projet:nth-child(2) {
  margin-left: 3%;
}
.projet:nth-child(3) {
  margin-left: 6%;
}
.projet:nth-child(4) {
  margin-left: 9%;
}
.projet:nth-child(5) {
  margin-left: 12%;
}
.projet:nth-child(6) {
  margin-left: 9%;
}
.projet:nth-child(7) {
  margin-left: 6%;
} */
/* .projet:nth-child(8) {
  margin-left: 3%;
} */
.cadre {
  position: relative;
  padding: 40px 20px 25px 0;
  width: 60%;
  max-width: 600px;
  border: none;
  outline: none;
  background-color: transparent;
  margin: 10px 8px;
  color: #aca49c;
  text-align: center;
}
.img-container {
  height: auto;
  max-height: 250px;
  width: 90%;
  max-width: 500px;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 1px 1px 10px #111;
}
.img-container img {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
.img-container :hover img {
  transform: scale(1.08);
  transform-origin: 50% 50%;
  filter: contrast(140%);
  transition: 0.5s ease-in-out;
}
.cadre::before,
.cadre::after {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 1px solid;
  transition: 0.6s ease;
  border-radius: 2px;
  z-index: -1;
}
.cadre::before {
  top: 15px;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.cadre::after {
  bottom: 0;
  right: 15px;
  border-top-color: transparent;
  border-left-color: transparent;
}
.cadre:hover:before,
.cadre:hover:after {
  border-color: #aca49c;
  width: 100%;
  height: 100%;
}
.legende {
  max-width: 350px;
  padding-top: 50px 0 0 20px;
  opacity: 0.3;
  transition: 5s ease-in-out;
}
.projet:hover .legende {
  opacity: 1;
  transition: 2s ease;
}
.legende a {
  padding: 16px 10px 10px 10px;
  margin-top: 20px;
  font-size: 1.1em;
  float: right;
  border-radius: 3px;
  background: #e2dedb;
  transition: 0.5s ease;
}
.legende a:hover {
  box-shadow: inset 0 0 75px black;
  color: white;
  transform: translateY(-8px);
}
/* END OF PORTFOLIO */
