/* FOOTER */

footer {
  background: #252525;
  text-align: center;
  padding: 160px 50px 5px 50px;
}

footer h3 {
  color: rgb(180, 98, 98);
  padding-bottom: 60px;
  font-size: 2.5em;
}
.footer-icons {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 60%;
}
.network {
  font-size: 4em;
  border: 1px solid rgb(180, 98, 98);
  padding: 30px 45px;
  color: rgb(180, 98, 98);
  z-index: -1 !important;
  border-radius: 50%;
}
.network:hover {
  background-color: rgb(180, 98, 98);
  transition: all 0.3s ease-in-out;
  color: #252525;
  cursor: pointer;
}
.fa-envelope:nth-last-of-type() {
  color: rgb(180, 98, 98);
}
.network:hover .fa-envelope {
  color: #252525;
}
.arrow {
  position: fixed;
  bottom: 20px;
  right: 20px;
  animation: arrow 1.5s linear infinite;
}
.arrow a {
  font-size: 3em;
  border: none;
  color: rgb(180, 98, 98);
}
.arrow a:hover i {
  transform: scale(1.6);
  transition: 0.5s ease;
  color: rgb(180, 98, 98);
}
@keyframes arrow {
  0% {
    transform: translateY(0px);
  }
  38% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0px);
  }
}
.copyright {
  margin: 50px auto;
  color: #ffffff;
  /* text-shadow: 1px 6px 2px #7a7a7a; */
}
/* END OF FOOTER */
